body {
    background-color: #EDF2F6;
    color: #696969;
    font-family: 'Ubuntu', sans-serif;
}
.fa {
    font-size: 1.2em;
    margin: 0 10px;
}
button {
    background: none;
    border: none;
    color: #696969;
    line-height: normal;
    overflow: visible;
}
.square-button {
    border-left: 1px solid #696969;
    border-right: 1px solid #696969;
    font-size: 1.2em;
    padding: 15px;
}
.square-button:hover {
    background-color: #26A5F7;
    color: #fff;
}
.round-button {
    border-radius: 50px;
    border: 1px solid #696969;
    font-size: .75em;
    height: 2.5em;
    line-height: 1em;
    margin: .5em;
    padding: 8px 0px;
}
.with-content {
    padding: .6em;
    width: 10em;
}
.round-button:hover {
    background-color: #26A5F7;
    color: #fff;
}
/*===============================================
layout
===============================================*/

wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto));
}
#header {
    background-color: #fff;
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
}
#section1 {
    background-color: #EDF2F6;
    display: flex;
    grid-column: 1/4;
    grid-row: 2;
    padding: 1em 0 0 0;
}
.drawer {
    display: flex;
    grid-column: 1/4;
    grid-row: 3;
    justify-content: center;
}
hr {
    border-radius: 5px;
    border: 2px solid #DAE5EA;
    width: 45%;
}
.fa-chevron-circle-up {
    color: #dae5ea;
}
#section2 {
    background-color: #EDF2F6;
    grid-column: 1/3;
    grid-row: 4;
}
#aside {
    background-color: #EDF2F6;
    grid-column: 3/4;
    grid-row: 4;
}
/*==============================================
HEADER SECTION
==============================================*/

#header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.header-search-menu {
    border-bottom: 1px solid #696969;
    display: flex;
    grid-column: 1/4;
    grid-row: 1;
    justify-content: space-between;
}
.fa-caret-left {
    color: #26A5F7;
    display: inline;
    font-size: 1em;
    margin: 0px -9px 0px 0px;
    vertical-align: top;
}
.text-blue {
    color: #26A5F7;
}
.fa-circle {
    color: green;
}
.search-bar {
    width: 95%;
}
#search-input {
    background: inherit;
    border: none;
    margin-top: 22px;
    width: 80%;
}
.header-content {
    display: flex;
    grid-column: 1/4;
    grid-row: 2;
    justify-content: flex-start;
    margin: 2em 0em 2em 2em;
}
.headline {
    width: 90%;
}
.headline>h2 {
    color: #696969;
    margin: 10px;
}
.header-nav {
    grid-column: 1/4;
    grid-row: 3;
}
.header-nav ul>li {
    display: inline;
    font-size: .8em;
    list-style-type: none;
    margin: 14px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.header-nav ul>li:hover,
.active {
    border-bottom: 2px solid #26A5F7;
    color: #000;
    padding: 0px 0px 6px 0px;
}
/*=============================================
SECTION 1
=============================================*/
/*Percentage Circles*/

h3 {
    font-size: 2em;
}
.circle-text p {
    font-size: 0.7em;
}
.circle {
    border-radius: 50%;
    border: .5em solid #DAE5EA;
    display: inline-flex;
    height: 8em;
    margin-right: 1em;
    width: 8em;
}
.green {
    border-bottom: .5em solid #4CB7BF;
    border-left: .5em solid #4CB7BF;
    border-top: .5em solid #4CB7BF;
    transform: rotate(45deg);
}
.blue {
    border-bottom: .5em solid #24A3F2;
    transform: rotate(45deg);
}
.yellow {
    border-bottom: .5em solid #AF67A5;
    border-left: .5em solid #AF67A5;
    transform: rotate(45deg);
}
.circle-text {
    margin: auto;
    text-align: center;
    transform: rotate(-45deg);
}
.section1-btn {
    background-color: #fff;
    display: block;
    margin: 3em auto;
    width: 50%;
}
.chart-image {
    background-image: url('./images/jeff-chart.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 8em;
    margin: auto;
    width: 20em;
}
.chart-image:hover {
    background-image: url('./images/jeff-chart2.png');
}
/*========================================================
The side navigation menu 
========================================================*/

.nav-photo {
    border-radius: 50%;
    height: 7em;
    margin-bottom: 1em;
    width: 7em;
}
.nav-photo-top {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sidenav {
    background-color: #707E94;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}
.sidenav a {
    color: #C0C0C0;
    display: block;
    font-size: 1em;
    padding: .4em 0em;
    text-decoration: none;
    transition: 0.3s
}
.sidenav p {
    color: #C0C0C0;
    margin-bottom: 1em;
}
.sidenav .fa {
    color: #C0C0C0;
    font-size: 1em;
    margin: 0em 1em 0em 2em;
    padding: .4em 0em;
}
.sidenav hr {
    width: 100%;
}
.catagories .checkbox-yellow {
    color: yellow;
}
.catagories .checkbox-blue {
    color: blue;
}
.catagories .checkbox-pink {
    color: pink;
}
.catagories .checkbox-green {
    color: green;
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #fff;
}
.sidenav li {
    display: flex;
}
.sidenav .closebtn {
    color: #fff;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}
#main {
    padding: 20px;
    transition: margin-left .5s;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*====================================================
MAIN CONTENT SECTION
====================================================*/

.main-content-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #7e8ca6;
    height: auto;
    margin: 3em 0em 3em 3em;
}
.main-content {
    align-items: center;
    border-bottom: 1px solid #7e8ca6;
    display: flex;
    justify-content: flex-start;
    margin: 0 1em;
    min-height: 5em;
    padding: 1em 0em;
}
.main-content-btn {
    background-color: #7E8CA6;
    color: #fff;
    font-size: 1em;
    padding: 10px;
}
.company-logo {
    border-radius: 100%;
    border: .5px solid #7e8ca6;
    height: 3em;
    margin-right: 0.5em;
    padding: .2em;
    vertical-align: middle;
    width: 3em;
}
.main-content .fa-pencil {
    color: #fff;
}
.main-content span {
    color: #7e8ca6;
    flex: 1;
    font-weight: 700;
}
.main-content p {
    flex: 4;
}
.main-content-header {
    background-color: #707E94;
    color: #fff;
    margin: 0;
    padding-left: 1em;
}
.main-content-header span {
    color: #fff;
}
.salary {
    font-weight: 700;
}
/*======================================================
ASIDE
======================================================*/

.sharing {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}
.social {
    color: #fff;
    font-size: 1.5em;
    height: 3em;
    margin: 0 auto .5em auto;
    width: 80%;
}
.social .fa {
    float: left;
    margin-right: .5em;
    width: 2em;
}
.facebook {
    background-color: #4E73BF;
}
.twitter {
    background-color: #1DABEC;
}
.linkedin {
    background-color: #1581BA;
}
.widget {
    margin: auto;
    padding-top: 1em;
    width: 95%;
}
.widget-center {
    border-bottom: 1px solid #707E94;
    margin: 0 auto;
    width: 80%;
}
h5 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: .5em;
}
aside article>p {
    margin-bottom: .5em;
}
.copy-btn {
    background-color: #4CBBBE;
    color: #fff;
    line-height: 3em;
    width: 20%;
}
#job-link {
    background-color: #fff;
    line-height: 3em;
    margin: 1em 0em;
    width: 78%;
}
#button-widget {
    background-color: #fff;
    line-height: 3em;
    margin: 1em 0em;
    width: 78%;
}
#upload-resumes {
    background-color: #fff;
    line-height: 3em;
    margin: 1em 0em;
    width: 100%;
}
#job-link::placeholder,
#button-widget::placeholder,
#upload-resumes::placeholder {
    font-size: 1.5em;
    padding-left: 1em;
}
/*====================================================
MEDIA QUERIES
====================================================*/
/*Mobile*/

@media (max-width: 768px) {
    wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #header {
        grid-row: 1;
    }
    #section1 {
        align-items: center;
        flex-direction: column;
        grid-row: 2;
    }
    .drawer {
        grid-row: 3;
    }
    #section2 {
        grid-column: 1/4;
        grid-row: 4;
    }
    #aside {
        grid-column: 1/4;
        grid-row: 5;
    }
    .round-button {
        font-size: 1em;
        width: 20em;
    }
    .search-bar {
        display: none;
    }
    .header-nav {
        display: none;
    }
    .header-search-menu {
        justify-content: space-between;
    }
    .header-content {
        align-items: center;
        flex-direction: column;
        margin: 2em 0em 2em 0em;
    }
    .headline {
        font-size: 2em;
        margin-bottom: 1em;
        text-align: center;
    }
    .main-content-wrapper {
        border-bottom: 1px solid #7e8ca6;
        height: auto;
        margin: 1em;
    }
    .main-content p {
        flex: 3;
    }
    .main-content span {
        margin-bottom: 1em;
    }
    .sidenav a {
        font-size: 1.5em;
    }
    .sidenav .fa {
        font-size: 1.5em;
        margin: 0em 1em 0em 1em;
    }
    .sidenav p {
        font-size: 1em;
    }
    .nav-photo {
        height: 10em;
        width: 10em;
    }
    .circle {
        height: 12em;
        width: 12em;
    }
    .left-side {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    h3 {
        font-size: 2em;
    }
    .circle-text p {
        font-size: 1em;
    }
    .main-content {
        flex-direction: column;
    }
    .social {
        font-size: 1em;
    }
    #job-link {
        width: 75%;
    }
    #button-widget {
        width: 75%;
    }
}
/*END OF MOBILE*/
/*Tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
    wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #header {
        grid-row: 1;
    }
    #section1 {
        align-items: center;
        flex-direction: column;
        grid-row: 2;
    }
    .drawer {
        grid-row: 3;
    }
    #section2 {
        grid-column: 1/4;
        grid-row: 4;
    }
    #aside {
        display: grid;
        grid-column: 1/4;
        grid-row: 5;
        grid-template-columns: 1fr 1fr;
    }
    .main-content-wrapper {
        border-bottom: 1px solid #7e8ca6;
        height: auto;
        margin: 1em;
    }
    .header-content {
        align-items: center;
        flex-direction: column;
        margin: 2em 0em 2em 0em;
    }
    .headline {
        font-size: 2em;
        margin-bottom: 1em;
        text-align: center;
    }
    .round-button {
        font-size: 1em;
        width: 20em;
    }
    .header-nav {
        display: flex;
        justify-content: center;
    }
    .circle {
        height: 12em;
        margin: 1em;
        width: 12em;
    }
    h3 {
        font-size: 2.5em;
    }
    .circle-text p {
        font-size: 1.2em;
    }
}
/*END OF TABLET*/
/*Desktop*/

@media (min-width: 1024px) {
    #section1 {
        justify-content: space-around;
    }
}
/*END OF DESKTOP*/